<% javascript 'https://www.google.com/jsapi' %>
<% @title = "Recording Sheet" %>
<% if @recording_sheet.records.size > 0 %>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Teacher');
        data.addColumn('number', 'Occurrences');
        data.addRows([
          <% @recording_sheet.summarize[:teacher].each do |idx, val| %>
            ['<%= idx %>', <%= val %>],
          <% end %>
        ]);

        // Set chart options
        var options = {'title':'Teacher',
                       'width':450,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('teacher_chart'));
        chart.draw(data, options);

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Student');
        data.addColumn('number', 'Occurrences');
        data.addRows([
          <% @recording_sheet.summarize[:student].each do |idx, val| %>
            ['<%= idx %>', <%= val %>],
          <% end %>
        ]);

        // Set chart options
        var options = {'title':'Student',
                       'width':450,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('student_chart'));
        chart.draw(data, options);

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Grouping');
        data.addColumn('number', 'Occurrences');
        data.addRows([
          <% @recording_sheet.summarize[:grouping].each do |idx, val| %>
            ['<%= idx %>', <%= val %>],
          <% end %>
        ]);

        // Set chart options
        var options = {'title':'Grouping',
                       'width':450,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('grouping_chart'));
        chart.draw(data, options);

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topic');
        data.addColumn('number', 'Occurrences');
        data.addRows([
          <% @recording_sheet.summarize[:topic].each do |idx, val| %>
            ['<%= idx %>', <%= val %>],
          <% end %>
        ]);

        // Set chart options
        var options = {'title':'Topic',
                       'width':450,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('topic_chart'));
        chart.draw(data, options);
      }
    </script>
  <% end %>
<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Observer</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.observer.email %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Teacher</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.teacher.email %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Recorded on</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.recorded_on %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">School year</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.school_year %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Semester</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.semester %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Department</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.department.name %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Type of school</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.type_of_school %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Course</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.course.name %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Number of students</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.number_of_students %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Interval</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @recording_sheet.interval %></span>
    </div>
  </div>
  
  <div class="form-actions">
    <%= link_to 'Back', recording_sheets_path, class: 'btn' %>
    <%= link_to icon_tag("pencil") + ' Edit', edit_recording_sheet_path(@recording_sheet), class: 'btn btn-primary' %>
    <%= link_to icon_tag("play") + ' Start', recording_sheet_records_path(@recording_sheet), class: 'btn btn-success' %>
  </div>

  <div id="teacher_chart"></div>
  <div id="student_chart"></div>
  <div id="grouping_chart"></div>
  <div id="topic_chart"></div>
</div>

