<%= form_for([@recording_sheet, @record], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.control_group :minute do |f| %>
      <%= f.label :minute, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :minute %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :teacher do |f| %>
      <%= f.label :teacher, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :teacher %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :student do |f| %>
      <%= f.label :student, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :student %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :grouping do |f| %>
      <%= f.label :grouping, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :grouping %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :topic do |f| %>
      <%= f.label :topic, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :topic %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :notes do |f| %>
      <%= f.label :notes, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :notes %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
    <%= f.control_group :recording_sheet do |f| %>
      <%= f.label :recording_sheet, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :recording_sheet %>
        <%= f.error_messages %>
      </div>
    <% end %>
  
  </div>
  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Cancel", recording_sheet_records_path, class: 'btn' %>
  </div>
<% end %>
