<% @title = "Listing records" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Records/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_recording_sheet_record_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Record
  <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Minute</th>
          <th>Teacher</th>
          <th>Student</th>
          <th>Grouping</th>
          <th>Topic</th>
          <th>Notes</th>
          <th>Recording sheet</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.minute %></td>
          <td><%= record.teacher %></td>
          <td><%= record.student %></td>
          <td><%= record.grouping %></td>
          <td><%= record.topic %></td>
          <td><%= record.notes %></td>
          <td><%= record.recording_sheet %></td>
          <td class="actions">
            <%= link_to icon_tag("eye-open"), record, rel: 'tooltip', title: 'Show' %>
            <%= link_to icon_tag("pencil"), edit_record_path(record), rel: 'tooltip', title: 'Edit' %>
            <%= link_to icon_tag("trash"), record, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->
<style type="text/css">
  .time {
    font-weight: bold;
    font-size: 35px;
  }
</style>


  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span1">
        <div class="row-fluid">
          <div class="span1">
            <span class="icon-time"/><br/><br/><br/>
            <span class="time"><span class="minutes">5</span>'<span class="seconds">59</span>"</span>
          </div>
        </div>
      </div>
      <div class="span10">
        <div class="row-fluid">
          <div class="span3">
            <%= label_tag :teacher %><br/><br/>
            <a class="btn">P</a>
            <a class="btn">C</a>
            <a class="btn">A</a>
            <a class="btn">D</a><br/>
            <a class="btn">RW</a>
            <a class="btn">L</a>
            <a class="btn">O</a>
          </div>
          <div class="span3">
            <%= label_tag :student %><br/><br/>
            <a class="btn">P</a>
            <a class="btn">C</a>
            <a class="btn">A</a>
            <a class="btn">D</a><br/>
            <a class="btn">RW</a>
            <a class="btn">L</a>
            <a class="btn">O</a>
          </div>
          <div class="span3">
            <%= label_tag :grouping %><br/><br/>
            <a class="btn">i</a>
            <a class="btn">p</a>
            <a class="btn">s</a><br/>
            <a class="btn">w</a>
            <a class="btn">f</a>
            <a class="btn">o</a>
          </div>
          <div class="span3">
            <%= label_tag :topic %><br/><br/>
            <a class="btn">cc</a>
            <a class="btn">rs</a><br/>
            <a class="btn">m</a>
            <a class="btn">d</a>
            <a class="btn">o</a>
          </div>
        </div>
      </div>
      <div class="span1">
            <span class="icon-info-sign"/>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= label_tag :notes %><br/><br/>
        <textarea class="field span12" id="textarea" rows="6" placeholder="Notes"></textarea>
      </div>
    </div>
  </div>
  
    <%= link_to "Back", recording_sheet_path(params[:recording_sheet_id]), class: 'btn' %>


