<% @title = "Listing records" %>

<% content_for :description do %>
  <!--  <p>Edit this template in <code>app/views/Records/index.html.erb</code>.</p> -->
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Minute</th>
          <th>Teacher</th>
          <th>Student</th>
          <th>Grouping</th>
          <th>Topic</th>
          <th>Notes</th>
          <th>Recording sheet</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.minute %></td>
          <td><%= record.teacher %></td>
          <td><%= record.student %></td>
          <td><%= record.grouping %></td>
          <td><%= record.topic %></td>
          <td><%= record.notes %></td>
          <td><%= record.recording_sheet %></td>
          <td class="actions">
            <%= link_to icon_tag("eye-open"), record, rel: 'tooltip', title: 'Show' %>
            <%= link_to icon_tag("pencil"), edit_record_path(record), rel: 'tooltip', title: 'Edit' %>
            <%= link_to icon_tag("trash"), record, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->
<style type="text/css">
  .time {
    font-weight: bold;
    font-size: 50px;
  }
</style>

<div id="progress-bar" class="progress progress-info
     progress-striped active">
  <div class="bar"
       style="width: 0%;"></div>
</div>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span2">
            <h1>Timer</h1>
            </br>
            <span class="time">
              <span class="minute">0</span>'
              <span class="second">0</span>"
            </span>
            <button id="start-stopwatch" class="btn btn-success"><i class="icon-play"></i> Start</button>
            <button id="pause-stopwatch" class="btn btn-info" style="display:none;"><i class="icon-pause"></i> Pause</button>
      </div>
      <div class="span10">
        <div class="row-fluid actionable">
          <div class="span3">
            <h1>Teacher</h1>
            <a class="btn btn-small">P</a>
            <a class="btn btn-small">C</a>
            <a class="btn btn-small">A</a>
            <a class="btn btn-small">D</a>
            <a class="btn btn-small">R</a>
            <a class="btn btn-small">L</a>
            <a class="btn btn-small">O</a>
              <p class="help-block">
              P - Presenting / Explaining</br>
              C - Circulating</br>
              A - Answering</br>
              D - Discussing</br>
              R - Reading / Writing</br>
              L - Listening</br>
              O - Other</br>
              </p>
          </div>
          <div class="span3">
            <h1>Student</h1>
            <a class="btn btn-small">P</a>
            <a class="btn btn-small">C</a>
            <a class="btn btn-small">A</a>
            <a class="btn btn-small">D</a>
            <a class="btn btn-small">R</a>
            <a class="btn btn-small">L</a>
            <a class="btn btn-small">O</a>
              <p class="help-block">
              P - Presenting / Explaining</br>
              C - Circulating</br>
              A - Answering</br>
              D - Discussing</br>
              R - Reading / Writing</br>
              L - Listening</br>
              O - Other</br>
              </p>
          </div>
          <div class="span3">
            <h1>Grouping</h1>
            <a class="btn btn-small">i</a>
            <a class="btn btn-small">p</a>
            <a class="btn btn-small">s</a>
            <a class="btn btn-small">w</a>
            <a class="btn btn-small">f</a>
            <a class="btn btn-small">o</a>
              <p class="help-block">
              i - individual / one-on-one</br>
              p - pair work</br>
              s - small group</br>
              w - whole group</br>
              f - fluid</br>
              o - other</br>
              </p>
          </div>
          <div class="span3">
            <h1>Topic</h1>
            <a class="btn btn-small">cc</a>
            <a class="btn btn-small">rs</a>
            <a class="btn btn-small">m</a>
            <a class="btn btn-small">d</a>
            <a class="btn btn-small">o</a>
              <p class="help-block">
              i - individual / one-on-one</br>
              p - pair work</br>
              s - small group</br>
              w - whole group</br>
              f - fluid</br>
              o - other</br>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= label_tag :notes %><br/><br/>
        <textarea class="field span12" id="textarea" rows="6" placeholder="Notes"></textarea>
      </div>
    </div>
  </div>
  
    <%= link_to "Back", recording_sheet_path(params[:recording_sheet_id]), class: 'btn' %>

