<footer>
  <div class="container">
    <p class="pull-right">
      <%= link_to "Home", root_path %>
      &middot;
      <%= link_to "About", "#" %>
      &middot;
      <%= link_to "Contact Us", "#" %>
      &middot;
      <%= link_to "Terms", "#" %>
      &middot;
      <%= link_to "Privacy", "#" %>
    </p>
    <p>&copy; <%= Date.today.year %> <%= app_name %>. All rights reserved.</p>
    <p>Theme by <%= link_to "Dresssed", "http://dresssed.com" %>.</p>
  </div> <!-- /.container -->
</footer>
